<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--icons--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font--><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel Decorative">
    <!--nav font--><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    
   <!--heading font--><link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Courgette&family=Great+Vibes&family=Merienda:wght@300..900&family=Oleo+Script:wght@400;700&family=Pacifico&family=Righteous&family=Sriracha&display=swap" rel="stylesheet">

    <!--para font--><link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Merienda:wght@300..900&family=Oleo+Script:wght@400;700&family=Pacifico&family=Righteous&display=swap" rel="stylesheet">
    <style>
       .headborder{
            border-left:solid 10px#C13584;
            background-color: #ff9fd5;
            width: 40%;
            height: 70px;
            padding: 5px;
            margin: auto;
            text-align: center;
       }
        .parafont{
                font-family: "Merienda";
        }
        .headfont{
            font-family: "Pacifico";
        } 
        .navfont{
            font-family: "Lobster";
            font-size: large;
        }
        .heading{
            text-align: center;
            color: aliceblue;
            font-family:"Cinzel Decorative",serif ;
        }
        header{
            background-color: #f57dc1;
            
        }
        .sd{
            padding-top: 30px;
            padding-left: 50px;
        }

        img{
            padding: 5px;
        }

        .foot{
            font-family:"Cinzel Decorative",serif ;
        }
        footer{
            color: aliceblue;
            background-color: black;
            /*background-image: url(static/foot.jpeg);
            background-repeat: no-repeat;
            background-size: cover;*/
            width: 100%;
            height: 250px;
            padding: 50px;
        }
    </style>
</head>
<body>
    <header>
        <!-- NavigationBar-->

    <nav class="navbar navbar-expand-sm">
        
        <div class="container-fluid">
            <a class="navbar-brand" href="#" ><img src="{% static 'nsp.png' %}" alt="nsp" width="180px" height="70px"></a>    
            
                <ul class="navbar-nav navfont">
                <li class="nav-item"><a class="nav-link text-light" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="about">About</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="service">Service</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="gallary">Gallary</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="contact">Contact</a></li>
            </ul>
        </div>
            <a href="https://wa.me/9092137082/?text=Hello%20there!" target="_blank"><i class="fa fa-whatsapp text-light" style="font-size: 30px; padding-right: 10px;"></i></a>
            <a href="https://www.instagram.com/nsp_decors_and_eventz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram text-light" style="font-size: 30px;  padding-right: 10px;"></i></a>
            <a href="https://www.facebook.com/nspdecors" target="_blank"><i class="fa fa-facebook text-light" style="font-size: 30px; padding-right: 15px;"></i></a>
    </nav>

        <!-- Title-->
        <div class="heading">
            <h1><strong>NSP Decorator</strong></h1>
            <h2>Wedding & Event Planner</h2>
        </div>
    </header>
    <br>
    <!--stage decoration-->
    <section>
        <h1 class="headfont headborder"><b>Stage Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'stage2.jpg' %}" alt="stage2" width="48%" height="40%">
            <img src="{% static 'stage4.jpg' %}" alt="stage4" width="48%" height="40%">
            <!-- <img src="{% static 'sd1.jpg' %}" alt="sd1" width="48%" height="40%">
            <img src="{% static 'sd2.jpg' %}" alt="sd2" width="48%" height="40%">  -->
            <img src="{% static 'back6.jpg' %}" alt="sd3" width="48%" height="40%">
            <img src="{% static 'sd10.jpg' %}" alt="sd4" width="48%" height="40%">
            <img src="{% static 'sd5.jpg' %}" alt="sd5" width="48%" height="40%">
            <img src="{% static 'sd6.jpg' %}" alt="sd6" width="48%" height="40%">
            <img src="{% static 'back4.jpg' %}" alt="sd6" width="48%" height="40%">
            <img src="{% static 'sd7.jpg' %}" alt="sd7" width="48%" height="40%">
            <img src="{% static 'sd8.jpg' %}" alt="sd8" width="48%" height="40%">
            <img src="{% static 'sd9.jpg' %}" alt="sd9" width="48%" height="40%">
            <img src="{% static 'sd4.jpg' %}" alt="sd9" width="48%" height="40%">
            <img src="{% static 'sd11.jpg' %}" alt="sd9" width="48%" height="40%">
        </div>
    </section>
    <br><br>
    <!--manavarai decoration-->
    <section>
        <h1 class="headfont headborder"><b>Manavarai Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'manavarai.jpg' %}" alt="manavarai" width="48%" height="40%">
            <img src="{% static 'md1.jpg' %}" alt="md1" width="48%" height="40%">
            <img src="{% static 'md5.jpg' %}" alt="md3" width="48%" height="40%">
            <img src="{% static 'md2.jpg' %}" alt="md2" width="48%" height="40%">
            <!--<img src="{% static 'md3.jpg' %}" alt="md3" width="48%" height="40%">-->
        </div>
    </section>
    <br><br>
    <!--welcome decoration-->
    <section>
        <h1 class="headfont headborder"><b>Welcome Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'wd2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'wd3.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'wd4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'wd1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static '' %}" alt="">
            <img src="{% static '' %}" alt="">
        </div>
    </section>
    <br><br>
    <!--pathway decoration-->
    <section>
        <h1 class="headfont headborder"><b>Pathway Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'pd2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd3.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd5.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd6.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd7.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'pd8.jpg' %}" alt="" width="48%" height="40%">
        </div>
    </section>
    <br><br>
    <!--babyshower decoration-->
    <section>
        <h1 class="headfont headborder"><b>BabyShower Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'bd1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bd4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bd2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bd3.jpg' %}" alt="" width="48%" height="40%">
            
        </div>
    </section>
    <br><br>
    <!--birthday&balloon decoration-->
    <section>
        <h1 class="headfont headborder"><b>Birthday&Ballon Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'bb1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb3.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb5.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb6.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb7.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'bb8.jpg' %}" alt="" width="48%" height="40%">

            <img src="{% static 'b1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'b4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'b2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'b3.jpg' %}" alt="" width="48%" height="40%">
        </div>
    </section>
    <br><br>
    <!--openingceremony decoration-->
    <section>
        <h1 class="headfont headborder"><b>OpeningCeremony Decoration</b></h1>
        <div class="sd">
            <img src="{% static 'od1.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od2.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od3.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od4.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od5.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od6.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od7.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od8.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od9.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od10.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od12.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od14.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od16.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od17.jpg' %}" alt="" width="48%" height="40%">
            <img src="{% static 'od18.jpg' %}" alt="" width="48%" height="40%">
    
        </div>
    </section>

    <!--Footer-->
    
    <footer class="ter">
            
        <div class="col-sm-3 foot" style="float: left;">
            <h4><strong>NSP Decorator</strong></h4>
            <h5>Wedding & Event Planner</h5>
            <div>
                <a href="https://wa.me/9092137082/?text=Hello%20there!" target="_blank"><i class="fa fa-whatsapp text-light" style="font-size: 30px; padding-right: 10px;"></i></a>
                <a href="https://www.instagram.com/nsp_decors_and_eventz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa fa-instagram text-light" style="font-size: 30px; padding-right: 10px;"></i></a>
                <a href="https://www.facebook.com/nspdecors" target="_blank"><i class="fa fa-facebook text-light" style="font-size: 30px;"></i></a>
            </div>
        
        </div>
        <div class="col-sm-3" style="float: left;">
            <h6 class="headfont"><b>Contact</b></h6>
            <ul style="list-style-type: none;" class="parafont">

                <li>Phone: 9750693405</li>
                <li>Email: nspdecor@gmail.com</li>
                <li>11/10 Uppliyer Thittu Street,</li>
                <li>Kurichi,Sundarapuram,</li>
                <li>Coimbatore,Tamilnadu,641024.</li>
            </ul>
            <!-- <img src="{% static 'nsp.png'%}" alt="nsp" width="300px"> -->
        </div>
    
    <div class="col-sm-3" style="float: left;">
        <h6 class="headfont"><b>More information</b></h6>
        <ul style="list-style-type: none;" class="navfont">
            <li>Home</li>
            <li>About</li>
            <li>Service</li>
            <li>Gallary</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="col-sm-3" style="float: left;">
        <h6 class="headfont">Navigation</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.5046256588034!2d76.96956995575434!3d10.962673329824451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85a2e9e8dfdb3%3A0xe2bc66f7e4f3080e!2sNSP%20DECORS%26EVENTZ!5e0!3m2!1sen!2sin!4v1711965073601!5m2!1sen!2sin" 
        width="300" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
   
</footer>
</body>
</html>