<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--{% load static %}-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--icons--><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font--><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel Decorative">

    <style>
        .heading{
            text-align: center;
            font-family:"Cinzel Decorative",serif ;
        }
        li{
            display: inline;
            font-size: 20px;
        }
        .social{
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <!-- NavigationBar-->

    <nav class="navbar navbar-expand-sm">
        
        <div class="container-fluid">
            <!--logo-->
            <a class="navbar-brand" href="#" ><img src="nsp.png" alt="nsp" width="250px" height="100px"></a>

            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="servies">Service</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Gallary</a></li>
                <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
            </ul>
            <a href="https://wa.me/9092137082/?text=Hello%20there!" target="_blank"><i class="fa fa-whatsapp" style="font-size: 30px;"></i></a>
            <a href="https://www.instagram.com/nsp_decors_and_eventz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram" style="font-size: 30px;"></i></a>
            <a href="https://www.facebook.com/nspdecors" target="_blank"><i class="fa fa-facebook" style="font-size: 30px;"></i></a>
        </div>
        
    </nav>

    <!-- Title-->
    <div class="heading">
        <h1><strong>NSP Decorator</strong></h1>
        <h2>Wedding & Event Planner</h2>
    </div>
</body>
</html>